{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}home
{% endblock title %}

{% block content %}
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit"  class="btn btn-primary mt-3">Submit</button>
</form>
<br/>

{% if sales_df %}
    <h2>Ventas hechas:</h1>
    <br/>
    {{sales_df|safe}}
    <br/>
    <h2>Productos puestos a la venta:</h2>
    {{positions_df|safe}}
    <br/>
    <h2>Tablas fusionadas/mergeadas</h2>
    {{merged_df|safe}}
    <br/>
    <h2>Tablas fusionadas/mergeadas agrupadas por transaction_id</h2>
    {{merged_df_group|safe}}
    <br/>
    <br/>
    <h2>Charts</h2>
    <img src="data:image/png;base64, {{chart|safe}}">
{% endif %}
{% endblock content %}